body {
  transition: background-color .5s ease;
}

main {
  flex: 1 1 auto; //!
}

.wrapper {
  min-height: 100%; //!
  display: flex; //!
  flex-direction: column; //!
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}