@import "../colors/colors";

.panel {
  &__colors {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    gap: 20px;
  }

  &__color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 160px;
  }

  &__preview {
    display: inline;
    width: 80px;
    height: 30px;
    background: #41EB47;
    border-radius: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__button {
    border: 1px solid $black;
    padding: 6px 16px;
    border-radius: 24px;
    background-color: transparent;
    font-size: 14px;
    width: 50%;


    transition: .3s ease;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}